p{
    font-size: 25px;
    margin-bottom: 50px;
}
.full-width-input{
    font-size: 15px;
    padding: 20px;
    width: 500px;
}
.signin-content{
margin: 50px;
margin-left: 300px;
margin-right: 500px;
}