<div class="backimg ">
    <div class="dealsleft shadow-lg w3-quarter w3-container">
      <div class="menu container">
        All category
      </div>
      <div class="container">
        Biography
      </div>
      <div class="container">
        Fiction
      </div>
      <div class="container">
        Mystery
      </div>
      <div class="container">
        Fantasy
      </div>
      <div class="container">
        Romance
      </div>
      <div class="second container">
        Price Filter
      </div>
      <div class="container">
        <mat-slider aria-label="unit(s)"></mat-slider>
      </div>
      <div class="price container">
        111.00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;to &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 55.555.00
      </div>
    </div>
  </div>
<app-product></app-product>