.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgb(58, 16, 16);
    background-clip: border-box;
    /* border: 1px solid rgba(230, 16, 16, 0.2); */
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 5px;
    margin: 2px;
    width: 254px;
    height: 387px;
    background-color: rgb(241, 154, 122);
    border: none;
}


.card img {
    width: 226px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.container{
    width: 1050px;
    padding: 0px;
    margin-left: 298px;
    background-color: burlywood;
}
